<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <appSettings>
    <add key="15" value="5.875" />
    <add key="20" value="6.125" />
    <add key="30" value="6.375" />
  </appSettings>
</configuration>